---
---

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* ------------ Core Style -------------- */


body
{
    margin-top: 24px ! important;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
}

i, .svg-inline--fa
{
    text-indent: 0;
}

table {
  width:100%;
  border-collapse:collapse;
  font-size:14px;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #eee;
}

th.title {
  width: 30%;
}

/* ------------ Sidebar Style -------------- */

#picture{
    width:210px;
    height:210px;
    border-radius:5%;
    background-size: cover;
    margin-bottom: 12px;
}

.wrapper {
  display: flex;
  min-height: 100%;
  max-width: 50%;
  position: relative;
}

input[data-function*='swipe'] {
  position: absolute;
  opacity: 0;
}

label[data-function*='swipe'] {
  position: absolute;
  color: #8C8C8C;
  top: 30px;
  left: 30px;
  z-index: 1;
  display: block;
  text-align: center;
  transform: translate3d(0,0,0);
  transition: transform .3s;
}

input[data-function*='swipe']:checked ~ label[data-function*='swipe'] {
  transform: translate3d(260px,0,0);
}

#person-details p {
  font-size: 16px;
  color: rgb(162, 163, 163);
  margin-left: 0px;
}

#social-icons
{
    font-size:  1.5em;
    display: block;
}

#social-icons ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#social-icons li {
    display: inline-block;
    padding-right: 24px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#social-icons a {
    font-size: 16px;
    color: rgb(162, 163, 163);
}

/* ------------ Content Style -------------- */

.content {
  flex: 1;
  padding: 0px 30px;
  transition: transform .3s;

  font-family: "Roboto Condensed", Arial, sans-serif;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5em;
  color: #666;
  font-weight: 300;
  transform: translate3d(240px,0px,0px);
}

.content hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #F7F1F1;
    border-bottom: 1px solid #fff;
}

.content h1 {
    font-weight: normal;
    color: #696969;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}

.content h2 {
    font-weight: normal;
    margin-bottom: 5px;
    color: #666666;
    font-weight: bold;
}

.content h3 {
    font-weight: normal;
    margin-bottom: 5px;
    color: #666666;
    font-weight: bold;
}

.content p
{
    font-family: "Roboto Condensed", Arial, sans-serif;
    background-color: #fff;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    font-weight: 300;
}

.content a {

    font-family: "Roboto Condensed", Arial, sans-serif;
    background-color: #fff;
    font-size: 16px;
    line-height: normal;
    font-style: normal;
    color: #8C8C8C;
    font-weight: 300;

}

.content pre
{
    border:none;
    width: 70%;

    /* Generic font style */
    font-family: Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 19.2px;
    word-spacing: 0px;
    color:#777777;
}

.content img
{
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 2px;
}

.sidebar {
  padding: 24px 24px;
  position: absolute;
  width: 240px;
  color: #eee;
  left: 0;
  // height: 100%; // creates superfluous scrollbar on small pages
  transition: all .3s;
  .menu {
    li {
      width: 100%;
    }
  }
  div {
    line-height: 0px;
  }
  .svg-inline--fa, i {
    width: 24px;
  }
  .navigation li {
    padding: 4px;
  }
  p {
    margin-left: 4px;
  }
  a {
    color: inherit;
    font-style: italic;
  }
}

.menu {

  font-size:  1.5em;
  display: block;
  padding-left: 24px;

  p {
    font-family: "Roboto Condensed", Arial, sans-serif;
    background-color: #fff;
    font-size: 16px;
    line-height: normal;
    font-style: normal;
    color: #8C8C8C;
    font-weight: 300;
  }

  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

  li {
    list-style: none;
    width: 0%;
    line-height: 1.2rem;
    font-weight: 300;


    a {
      font-family: "Roboto Condensed", Arial, sans-serif;
      background-color: #fff;
      font-size: 16px;
      line-height: normal;
      font-style: normal;
      color: #8C8C8C;
      font-weight: 300;

    }
  }
}

.post {
  max-width: 960px;
  width: 80%;
}

// https://github.com/FortAwesome/Font-Awesome/issues/541#issuecomment-751271008
.fa-google-scholar {
  content: url('img/google-scholar.svg');
  height: 1em;
  width: auto;
}
