<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<!--li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li-->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:aronzwaan+gh-pages@gmail.com">email</a></li>
	        		<li><a href="https://www.linkedin.com/in/aron-zwaan-856423100/">LinkedIn</a></li>
	        		<li><a href="https://github.com/AZWN">github.com/AZWN</a></li>
				</ul>
			</footer>
		</body>
	</html>
